.env

/json_one
/json_cosco
/html_hapag
/html_cma
/html_evergreen
/html_maersk
/html_msc
/html_zim
/html_oocl
/html_hmm
/html_pil
/html_yangming
/html_wanhai

/localidades_hapag

/venv
error.html
app/plugproxy/background.js
__pycache__/
bls_pendiente.csv

app.log
html_oocl.zip

grafico_estado.png
grafico_naviera.png